*{
    font-family: sans-serif;
}

.blue{
    background-color: #1F2937;
    border-color: #1F2937;
    height: 570px;

}

.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100px;
    flex-wrap: nowrap;
    flex: 1;
    
}

.header-logo{
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 30px;
    
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}

.nav-button{
    background-color: transparent;
    color: gray;
    max-height: 40px;
    width: 150px;
    margin-top: 20px;
    font-size: 20px;
    border: 0px;
}

.nav-button:hover{ 
    color: white;
    cursor: pointer;
}

body{
    margin: 0px;
}

#top-main-box{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 15px;
}

#hbox{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    flex-wrap: wrap;
    height: 337px;
}

#large-bold{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

#flavor-text{
    color: #b1b2b4;
    font-size: 18px;
    line-height: 27px;

}

#button-div{
    width: 150px;
    height: 45px;
}

#sign-up{
    width: 100px;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    border: transparent;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    
}

#sign-up:hover{
    color: rgb(154, 226, 255);
    cursor: pointer;
}

#sign-up:active{
    box-shadow: 0 5px #151c25;
    transform: translateY(2px);
}

#wave-img{
    width: 500px;
    height: auto;
}